server {
  listen 80;
  server_name $SERVER_NAME;
  access_log /dev/stdout;
  error_log /dev/stdout debug;
  rewrite_log on;

  location /auth-proxy-health-check {
    alias  /usr/share/nginx/html;
    index  index.html index.htm;
  }

